  <img src="https://ugdarccrxmcltrwumjxi.supabase.co/storage/v1/object/sign/img-iepe/IEPE.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWctaWVwZS9JRVBFLnBuZyIsImlhdCI6MTY2MzU1Nzc2NCwiZXhwIjoxOTc4OTE3NzY0fQ.2OGuCItzmsln1f0V9HMM_OiVBXe4a4rzhWj4pYLSGoA&t=2022-09-19T03%3A22%3A44.530Z" alt="logo iepe" class="w-75 m-5">
    <div class="mb-3 d-flex">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Completo">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

  <ng-container *ngIf="options.id == 'Sign Up'">
    <div class="mb-3 d-flex">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dirección">
    </div>
    <div class="mb-3 d-flex">
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="DNI">
    </div>
    <div class="mb-3 d-flex">
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Teléfono">
    </div>
  </ng-container>

